body {
  margin: 0;
  background-color: black;
}

.wrapper {
  background-size: contain;
  overflow-x: hidden;
  perspective: 8px; /* responsible for the 3D effect. lower number more effect...higher number less effect */
  position: relative;
  background-repeat: no-repeat;
  height: 100vh;
}

section {
  font-size: 40px;
  font-family: Z003;
  padding: 2rem;
  color: white;
  background-color: #050303ab;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  background-image: url("Images/forestpath1.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-9px) scale(2); /*(moving along the Z-achis, scales the element, 1 = original size, -1 = shrink, +1 = bigger */
  background-attachment: fixed;
  height: 100%;
}

.background1 {
  background-image: url("Images/Alistair.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-2px) scale(1.2);
  background-attachment: fixed;
}

.background2 {
  background-image: url("Images/Galahad.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-2px) scale(1.2);
  background-attachment: fixed;
}

.background3 {
  background-image: url("Images/Rook.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-2px) scale(1.2);
  background-attachment: fixed;
}

.background4 {
  background-image: url("Images/Melody.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-2px) scale(1.2);
  background-attachment: fixed;
}

.background5 {
  background-image: url("Images/forestpath1_5.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-1px) scale(1.3);
  background-attachment: fixed;
  height: 100%;
}

.background6 {
  background-image: url("Images/Mirror.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-2px) scale(1.3);
  background-attachment: fixed;
  height: 100%;
}

.background7 {
  background-image: url("Images/forestpath2.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-3px) scale(1.3);
  background-attachment: fixed;
  height: 100%;
}

.background8 {
  background-image: url("Images/login2.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-1px) scale(1.2);
  background-attachment: fixed;
  height: 100%;
  z-index: -1;
}

.login-link a {
  font-family: Z003;
  font-size: 120px;
  align-items: center;
  background-size: cover;
  color: white;
  animation: sparkle 3s infinite;
  background-color: #05030300;
  text-shadow: white 0px 0px 10px;
}

@keyframes sparkle {
  0% {
    color: #e10ee1;
  }
  50% {
    color: rgb(89, 71, 206);
  }
  100% {
    color: #ed05ce;
  }
}
