/* CSS HEX */
colors.css {
  --savoy-blue: #4e66d7ff;
  --bakermiller-pink: #ed91acff;
  --rich-black: #09061dff;
  --picton-blue: #3eacdaff;
  --majorelle-blue: #6154e7ff;
  --penn-blue: #101f61ff;
  --african-violet: #a47bacff;
  --china-rose: #ab5a72ff;
  --dark-cyan: #089197ff;
  --lemon-chiffon: #f5f3c8ff;
}
