body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background-image: url("../images/login2\ copy.webp");
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 40px;
}

.nav-logo {
  flex: 1;
  text-align: left;
}

.nav-menu {
  flex: 2;
  text-align: center;
  color: white;
}

.nav-menu ul {
  list-style-type: none; /* Remove bullet points */
  margin: 10px; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex; /* Arrange items in a row */
  justify-content: left; /* Center items horizontally */
  font-family: Arial; /* Change font */
  font-size: 40px; /* Change font size */
}

.nav-menu ul li {
  margin: 0 20px; /* Add some space between the items */
}

.nav-button {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: right;
  margin-right: 10px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-button .btn {
  width: 100px;
  height: 60px;
  margin: 0 10px;
  font-weight: 500;
  background: rgb(13, 3, 3);
  border: none;
  color: white;
  cursor: pointer;
}

.nav-button .btn {
  margin: 5px;
}

.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  border: 5px solid #a2f6ff;
  color: #ffffff;
  background-color: rgba(0, 42, 91, 0.51);
  padding: 10px;
  padding-top: 20px;
  overflow-y: auto;
  margin-top: 25%; /* Adjusted to make space for the label */
  border-radius: 5px;
}

.login-container .top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 0;
}

.login-container .top span {
  color: #fff;
  font-size: 25px;
  padding: 10px 0;
  display: flex;
  margin: 0 10px;
  animation: sparkle 3s infinite;
}

@keyframes sparkle {
  0% {
    color: #e10ee1;
  }
  50% {
    color: rgb(89, 71, 206);
  }
  100% {
    color: #ed05ce;
  }
}

.input-box .input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  outline: 1px solid #80ccd4c9;
  background-color: white;
  color: #0c0101;
  font-size: 25px;
}

.input-box .submit {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  background-color: rgb(147, 138, 138);
  color: #0c0101;
  font-size: 25px;
  cursor: pointer;
  transition: all .3s ease;
  outline: 1px solid #80ccd4c9;
}

.two-col {
  display: flex;
  justify-content: space-between;
}

.one, .two {
  flex: 1;
}
